body {
    margin:0;
    padding:0;
    font-family: 'Comfortaa';
}

.top-header{
    height: 28px;
    background-color: #292d33;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}


.top-header p{
    margin: 0px;
    font-size: 12px;
}


.top-header a{
    color: azure;
}


header{
    margin: 0;
    padding: 0;
    width: 100vw;
    position: sticky;
    top: 0px;
    background-color: white;
}


.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(206, 212, 218);
    position: relative;
    background-color: white;
    z-index: 9;
}


.menu-icon{
    margin: 0px 45px;
}

.line-menu-icon{
    width: 35px;
    height: 2px;
    background-color: black;
    margin: 10px 0px;
}

.rotate{
    transition:.5s;
    /* transform: rotate(45deg);  */
    transform: rotate(45deg)  translateY(8px) ; 
    /* transform:  translateY(6px); */
} 


.a-rotate{
    transition:.5s;
    /* transform: rotate(45deg);  */
    transform: rotate(0deg)  translateY(0px) ; 
    /* transform:  translateY(6px); */
} 

.rotate-2{
    transition:.5s;
    /* transform: rotate(-45deg);  */
    transform: rotate(-45deg)  translateY(-8px) ; 
    /* transform: translateY(-6px);  */
}

.a-rotate-2{
    transition:.5s;
    /* transform: rotate(-45deg);  */
    transform: rotate(0deg)  translateY(0px) ; 
    /* transform: translateY(-6px);  */
}

.minimize-icon{
    width: 60px;
}

.top a{
    text-decoration: none;
    color: black;
    align-self: center;
    text-transform: uppercase;
}


.right-icons{
    margin: 0 30px;
    max-width: 155px;
}

.right-icons span:hover{
    cursor: pointer;
}

.icons{
    padding: 0 3px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

nav{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(206, 212, 218);
    position: relative;
    background-color: white;
    z-index: 9;
}

nav a{
    outline: none;
    text-decoration: none;
    color: black;
    padding: 0px 50px;
}

nav a:hover{
    text-decoration: underline;
}

.find{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(206, 212, 218);
    position: absolute;
    top: 50px;
    background-color: white;
    z-index: 8;
    transition: all .5s ease;
}

.find-hidden{
    top: 50px;
}

.find-show{
    top: 148px;
}

.find .campo-texto{
    width: 80vw;
    margin-left: 200px;
    border: 0px;
    outline: none;
}



.find a{
    background-color: #3e5264;
    border-color: #3e5264;
    margin: 30px 0px;
    margin-right: 50px;
    width: 160px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafaf9;
    text-decoration: none;
}

.menu-lateral{
    width: 24vw;
    height: 80vh;
    position: fixed;
    top: 19.5vh;
    left: -24vw;
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    transition: all .5s ease;
    border-right:  1px solid rgb(206, 212, 218);
}




.content-menu-lateral{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content-menu-lateral h3{
    text-transform: uppercase;
    font-size: 25px;
    margin: 60px 0px;
}



.horizontal-bar{
    width: 14vw;
    height: 2px;
    background-color: black;
    border-radius: 40px;
    margin: 10px 0px;
}
.link{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.link a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-align: center;
}


main{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-top-content{
    background-color: #fafaf9;
    width: 100%;
}

.line{
    margin: 50px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bar{
    width: 2px;
    height: 120px;
    background-color: black;
    border-radius: 40px;
}


.newsletter-invitation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter-invitation span{
    margin: 4px 0px;
    text-align: center;
    font-size: 30px;
}

.newsletter-invitation a{
    background-color: #3e5264;
    border-color: #3e5264;
    margin: 30px 0px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafaf9;
    text-decoration: none;
}


.follow-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.social-icons{
    margin: 24px 0px;
}

.social-icons a{
    width: 70px;
}

.envios{
    display: flex;
    justify-content: center;   
    margin: 64px 0px;
}

.envios-item{
    margin: 4px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.envios-item span{
    margin-top: 8px;
    font-size: 9px;
    text-transform: uppercase;
}

.footer-middle-content{
    background-color: #f2e3da;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.footer-middle-content a{
    margin: 48px 0px;
    padding: 6px 0px;
    text-decoration: none;
    color: black;
    padding: 0px 50px;
    font-size: 15px;
}

.footer-middle-content a:hover{
    text-decoration: underline;
}

.footer-bottom-content{
    width: 100%;
    height: 70px;
    background-color: #292d33;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: azure;
}

.footer-bottom-content span{
    font-size: 15px;
}

