{% extends "base.html" %} 
{% load static %} 

{% block titulo %} Avahs {% endblock%} 

{% block styles %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}" />
{% endblock %} 

{% block body %}
<div class="carrito"><h1 class="title">    Carrito de Compras     </h1></div>

<div class="table">
    <table class="table table-dark table-hover">
        <tr class="text-primary">
          <th class="numeral" >Imagen Producto</th>
          <th class="productos" >Productos</th>
          <th class="precio" >Precio</th>
          <th class="cantidad">Cantidad</th>
        </tr>
        <tr>
          <th><img src="{% static "images/products/lampara1.jpg.webp" %}"/></th>
          <th style="font: size 25px; ;">LAMPARA DE PARED COLOR CUARZO </th>
          <th>$100.00</th>
          <th>1</th>
        </tr>
    </table>

</div>
<script>

</script>
{% endblock %}