{% extends "base.html" %} 
{% load static %} 

{% block titulo %} Novedades {% endblock%} 

{% block styles %}
<link rel="stylesheet" href="{% static 'css/secciones.css' %}" />
{% endblock %} 

{% block body %}

  <div class="main-header">
    <h2>novedades</h2>
    <span>No te pierdas ninguna de nuestras novedades</span>
  </div>
  <div class="container">
    <div class="content">
      <div class="content-header">
        <span>12 artículos encontrados</span>
        <select class="ordenar-select">
          <option value="popularity">Ordenar por popularidad</option>
          <option value="date">Ordenar por los últimos</option>
          <option value="price" selected="selected">
            Ordenar por precio: bajo a alto
          </option>
          <option value="price-desc">Ordenar por precio: alto a bajo</option>
        </select>
      </div>
      
      <div class="clothescontainer">
        <a href="/app/novedades/elemento">
          <div class="products product1">
            <img src="{% static "images/products/lampara1.jpg.webp" %}" alt="">
            <p>Lampara - 3 colores</p>
            <span class="price">
                <span>100,00$</span>
            </span>
          </div>
        </a>
        <a href="/app/novedades/elemento">
          <div class="products product1">
            <img src="{% static "images/products/lampara1.jpg.webp" %}" alt="">
            <p>Lampara - 3 colores</p>
            <span class="price">
                <span>100,00$</span>
            </span>
          </div>
        </a>
        <a href="/app/novedades/elemento">
          <div class="products product1">
            <img src="{% static "images/products/lampara1.jpg.webp" %}" alt="">
            <p>Lampara - 3 colores</p>
            <span class="price">
                <span>100,00$</span>
            </span>
          </div>
        </a>
        <a href="/app/novedades/elemento">
          <div class="products product1">
            <img src="{% static "images/products/lampara1.jpg.webp" %}" alt="">
            <p>Lampara - 3 colores</p>
            <span class="price">
                <span>100,00$</span>
            </span>
          </div>
        </a>
        <a href="/app/novedades/elemento">
          <div class="products product1">
            <img src="{% static "images/products/lampara1.jpg.webp" %}" alt="">
            <p>Lampara - 3 colores</p>
            <span class="price">
                <span>100,00$</span>
            </span>
          </div>
        </a>
        <a href="/app/novedades/elemento">
          <div class="products product1">
            <img src="{% static "images/products/lampara1.jpg.webp" %}" alt="">
            <p>Lampara - 3 colores</p>
            <span class="price">
                <span>100,00$</span>
            </span>
          </div>
        </a>
        <a href="/app/novedades/elemento">
          <div class="products product1">
            <img src="{% static "images/products/lampara1.jpg.webp" %}" alt="">
            <p>Lampara - 3 colores</p>
            <span class="price">
                <span>100,00$</span>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
  

{% endblock %}
